# 라이브러리 선언

In [1]:
##DB
import pymysql
from sqlalchemy import create_engine

#데이터 조작 및 숫자 연산
import pandas as pd
import numpy as np

# 분석모델
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import datasets, tree
from sklearn import svm
from sklearn.metrics import accuracy_score

# 학습모델 저장 라이브러리
import joblib

In [2]:
import function as fc

## 1.데이터 불러오기

In [3]:
##db에서 불러오기
#engine = create_engine('mysql+pymysql://root:1023@127.0.0.1:3306/dataDB')
# mergeAreaTotal = pd.read_sql_query('select * from mergeAreaTotal', engine)

##(연습) 임시로 csv로 가져와서 실습
mergeAreaTotal = pd.read_csv("../../dataset/mergeAreaTotal.csv", sep = "|")
labelcodeAddData = fc.labelFun(mergeAreaTotal).loc[:, ["index", "name","tenCen","twoCen","threeCen","fourCen","fiveCen",
                                                       "sixCen","womanRatio","manRatio", "labelcode" ] ]

C:\Users\Dongyeon\std\문제원형실습\070701\function.py:208: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  findNan.loc[findNan["gubun"].str.contains(findNanList[i]), "category"] = "카페및기타"
C:\Users\Dongyeon\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

## 2.데이터 분리

In [4]:
labelcodeAddData["young"] = labelcodeAddData.tenCen+labelcodeAddData.twoCen+ labelcodeAddData.threeCen
labelcodeAddData["old"] =labelcodeAddData.fourCen+labelcodeAddData.fiveCen+labelcodeAddData.sixCen
youngMean = labelcodeAddData.young.mean()
oldMean = labelcodeAddData.old.mean()
labelcodeAddData["young_new"] = np.where(labelcodeAddData["young"]>youngMean, 1, 0)
labelcodeAddData["old_new"] = np.where(labelcodeAddData["old"]>oldMean, 1, 0)

womanMean = labelcodeAddData.womanRatio.mean()
manMean = labelcodeAddData.manRatio.mean()
labelcodeAddData["man"] = np.where(labelcodeAddData["manRatio"]>manMean, 1, 0)
labelcodeAddData["woman"] = np.where(labelcodeAddData["womanRatio"]>womanMean, 1, 0)

labelcodeAddData["prefer1"] = np.where( (labelcodeAddData.young_new==1)&(labelcodeAddData.old_new==1)&(labelcodeAddData.index%2 ==0) , 3 ,
                                      np.where( (labelcodeAddData.young_new==1)&(labelcodeAddData.old_new==1)&(labelcodeAddData.index%2 ==1) , 2 ,
                                      np.where(  (labelcodeAddData.young_new==1)&(labelcodeAddData.old_new==0) , 3 , 
                                      np.where ( (labelcodeAddData.young_new==0)&(labelcodeAddData.old_new==1) , 2  , 1  ))))
                                                            
labelcodeAddData["prefer2"] = np.where((labelcodeAddData.woman==1 )& (labelcodeAddData.man ==1), 4,
                                       np.where((labelcodeAddData.woman==1) & (labelcodeAddData.man ==0),3,
                                                np.where((labelcodeAddData.woman==0) & (labelcodeAddData.man ==1), 2, 1)))

refinedData = labelcodeAddData.loc[:, ["labelcode","prefer1", "prefer2" ]]

groupKey=["labelcode","prefer1"]
gnCntData1 = refinedData.groupby(groupKey)["prefer1"].agg(["count"]).reset_index(drop=False)

In [5]:
mergedData = pd.merge(left=refinedData, right= gnCntData1, how="left", on=groupKey).rename(columns = {"count":"YN"})

### 특성 선정

In [6]:
corrDf_label = mergedData.loc[:,["labelcode","prefer2","YN"]].corr()

corrDf_label

           labelcode   prefer2        YN
labelcode   1.000000 -0.296661 -0.572542
prefer2    -0.296661  1.000000  0.172040
YN         -0.572542  0.172040  1.000000

In [7]:
stdCorr = 0.25

In [8]:
features = list(mergedData.corr().loc[ (abs(mergedData.corr().labelcode) >= stdCorr) & (mergedData.corr().labelcode !=1)].index)

In [9]:
features

['prefer2', 'YN']

In [10]:
label = ["labelcode"]

In [11]:
trainingData_features,\
testData_features,\
trainingData_label,\
testData_label=\
train_test_split(mergedData.loc[:,features],
                mergedData.loc[:,label],
                test_size=0.3, random_state=1)

print(trainingData_features.shape)
print(testData_features.shape)
print(trainingData_label.shape)
print(testData_label.shape)

(875, 2)
(375, 2)
(875, 1)
(375, 1)

## 3.모델 생성 및 학습

In [12]:
model_method_SVC =svm.SVC(random_state=1)
model_method_KN = KNeighborsClassifier(n_neighbors=3)
model_method_DT = DecisionTreeClassifier()

model_svc = model_method_SVC.fit(trainingData_features,trainingData_label)
model_knn = model_method_KN.fit(trainingData_features,trainingData_label)
model_Dt = model_method_DT.fit(trainingData_features, trainingData_label)

C:\Users\Dongyeon\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Dongyeon\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

## 4.모델 예측

In [13]:
predictValue_svc = model_svc.predict(testData_features)
predictValue_kn = model_knn.predict(testData_features)
predictValue_Dt = model_Dt.predict(testData_features)

## 5.데이터 정리

In [14]:
testDataAll = mergedData.loc[testData_label.index ]

In [15]:
testDataAll["PREDICT_SVC"] = predictValue_svc
testDataAll["PREDICT_KNN"] = predictValue_kn
testDataAll["PREDICT_Dt"] = predictValue_Dt

In [16]:
testDataAll

      labelcode  prefer1  prefer2   YN  PREDICT_SVC  PREDICT_KNN  PREDICT_Dt
408           3        2        2   78            3            0           3
711           2        2        2   52            1            2           2
1114          3        3        2  100            3            3           3
699           0        3        3  149            0            0           0
236           2        3        2   68            1            2           2
...         ...      ...      ...  ...          ...          ...         ...
1228          2        1        3  139            0            2           2
495           0        2        2   78            3            0           3
1216          0        1        3  291            0            0           0
1081          1        2        2   47            1            1           1
1137          0        1        3  291            0            0           0

[375 rows x 7 columns]

In [17]:
accuracy_score(y_true = testDataAll.labelcode,
               y_pred= testDataAll.PREDICT_SVC)

0.6426666666666667

In [18]:
accuracy_score(y_true = testDataAll.labelcode,
               y_pred= testDataAll.PREDICT_KNN)

0.9466666666666667

In [19]:
accuracy_score(y_true = testDataAll.labelcode,
               y_pred= testDataAll.PREDICT_Dt)

0.9546666666666667

## 6.학습 데이터 저장

In [21]:
# 모델 저장
joblib.dump(model_Dt, './model_method_label.pkl')

['./model_method_label.pkl']

In [22]:
# 모델 불러오기
loaded_model = joblib.load('./model_method_label.pkl')

loaded_model

# loaded_model.predict(넣을값)

DecisionTreeClassifier()